<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UA">
<head>
    <meta charset="UTF-8">
    <title>Production statistics page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        .header-container {
            background-image: url('/img/title_background.jpg');
            background-size: cover;
            padding: 20px;
        }

        .header-container label, h1 {
            color: #fff;
        }

        .custom-width {
            max-width: 170px; /* максимальна ширина для поля дати у вкладці налаштувань */
            width: 100%;
        }

        .custom-width2 {
            max-width: 75px; /* максимальна ширина для поля числа у вкладці налаштувань */
            width: 100%;
        }

        .tab-content {
            margin-top: 20px;
        }

        .nav-tabs {
            border-bottom: 0; /* Прибирає контур знизу контейнера вкладок */
        }

        .nav-tabs .nav-link {
            color: white; /* Колір тексту для неактивної вкладки */
            background-color: darkblue; /* Колір фону для неактивної вкладки */
        }

        .nav-tabs .nav-link.active {
            color: white !important; /* Колір тексту для активної вкладки */
            background-color: blue !important; /* Колір фону для активної вкладки */
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
            border-color: transparent; /* Колір контуру вкладок */
            border-width: 0; /* Ширина контуру вкладок (0 для вимкнення контуру) */
        }
        .select {
            display: inline-block;
            width: 10em;
        }
        .label {
            display: inline-block;
            width: 10em;
            margin-right: .5em;
            padding-top: 1.5em;
            text-align:center;
        }
    </style>
</head>
<body>

<div class="header-container">
    <h1>Основна статистика виробництва</h1>

    <ul class="nav nav-tabs" id="pageTabs">
        <li class="nav-item">
            <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data">Дані</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings">Налаштування</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="data">
        <form class="form-inline" action="/api/v1/production_view" method="post"
              id="production_view_request">
            <div class="form-group mx-sm-3 mb-2">
                <label for="startDate" class="mr-2">Початок періоду:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="endDate" class="mr-2">Кінець періоду:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="startTime" class="mr-2">Час початку:</label>
                <input type="time" class="form-control" id="startTime" name="startTime" value="00:00" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="endTime" class="mr-2">Час завершення:</label>
                <input type="time" class="form-control" id="endTime" name="endTime" value="23:59" required/>
            </div>

            <div class="btn-group mb-2 ml-auto" role="group" aria-label="Navigation buttons"
                 th:if="${dataPage != null and dataPage.totalPages > 1}">
                <button type="button" class="btn btn-primary" th:if="${dataPage.hasPrevious()}"
                        th:onclick="navigate(-1)">Назад
                </button>
                <button type="button" class="btn btn-primary" th:if="${dataPage.hasNext()}"
                        th:onclick="navigate(1)">Вперед
                </button>
            </div>

            <button type="submit" class="btn btn-success mb-2 ml-auto">Показати</button>

            <div class="container-fluid">
                <div class="d-flex justify-content-center mb-3">
                    <div style="font-weight: bold;" class="text-center" th:if="${dataPage != null and not dataPage.isEmpty}">
                        <p>Показ інформації за: <span th:text="${dataPage.content[0].date}"></span></p>
                    </div>
                </div>
                <table id="dataTable" class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>Час</th>
                        <th>
                            <select id="seed-content" name="seedRecordType">
                                <option value="seedProd">seedProd</option>
                                <option value="seedProdCurrent">seedProdCurrent</option>
                                <option value="seedChangeCounter">seedChangeCounter</option>
                                <option value="seedConstCounter">seedConstCounter</option>
                            </select>
                        </th>
                        <th>
                            <select id="hull-content" name="hullRecordType">
                                <option value="hullProd">hullProd</option>
                                <option value="hullProdCurrent">hullProdCurrent</option>
                                <option value="hullChangeCounter">hullChangeCounter</option>
                                <option value="hullConstCounter">hullConstCounter</option>
                            </select>
                        </th>
                        <th>
                            <select id="meal-content" name="mealRecordType">
                                <option value="mealProd">mealProd</option>
                                <option value="mealProdCurrent">mealProdCurrent</option>
                                <option value="mealChangeCounter">mealChangeCounter</option>
                                <option value="mealConstCounter">mealConstCounter</option>
                            </select>
                        </th>
                        <th>
                            <select id="oil-content" name="oilRecordType">
                                <option value="oilFT">oilFT</option>
                                <option value="oilCounter">oilCounter</option>
                            </select>
                        </th>
                    </tr>
                    </thead>

                    <tr th:if="${dataPage == null or dataPage.isEmpty}">
                        <td colspan="5">Немає інформації за обраний період</td>
                    </tr>

                    <tbody th:if="${dataPage != null and not dataPage.isEmpty}">
                    <tr th:each="data,row : ${dataPage.content}" th:class="${row.odd}? 'odd'">
                        <td th:text="${data.time}"></td>
                        <td th:text="${data.seeds}" class="number"></td>
                        <td th:text="${data.hulls}" class="number"></td>
                        <td th:text="${data.meals}" class="number"></td>
                        <td th:text="${data.oil}" class="number"></td>
                    </tr>

                    <tr>
                        <td><b>УСЬОГО:</b></td>
                        <td><b><span
                                th:text="${#numbers.formatDecimal(#aggregates.sum(dataPage.content.![seeds]), 1, 2)}"
                                class="number"></span></b></td>
                        <td><b><span
                                th:text="${#numbers.formatDecimal(#aggregates.sum(dataPage.content.![hulls]), 1, 2)}"
                                class="number"></span></b></td>
                        <td><b><span
                                th:text="${#numbers.formatDecimal(#aggregates.sum(dataPage.content.![meals]), 1, 2)}"
                                class="number"></span></b></td>
                        <td><b><span
                                th:text="${#numbers.formatDecimal(#aggregates.sum(dataPage.content.![oil]), 1, 2)}"
                                class="number"></span></b></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="tab-pane fade" id="settings">
        <form id="max-records-age-settings-form">
            <div style="font-weight: bold;">Нижче ви можете обрати максимальний діапазон
                збереження даних у БД. Від величини діапазону прямопропорційно залежатиме розмір БД, та її швидкодія.
                Для підтвердження натисніть кнопку "Застосувати". За замовчуванням сервер буде видаляти усі дані які
                старіші ніж рік від поточної дати.
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="records-age-type">Оберіть період:</label>
                <select id="records-age-type" name="records-age-type">
                    <option value="days">Дні</option>
                    <option value="months">Місяці</option>
                    <option value="years">Роки</option>
                </select>
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="records-age-value">Кількість:</label>
                <input type="number" class="form-control custom-width2" id="records-age-value" name="records-age-value"
                       min="1" required>
            </div>
            <button type="button" class="btn btn-success" th:onclick="submitMaxRecordsAgeSettingsForm()">Застосувати
            </button>
        </form>
        <form id="delete-all-before-date-settings-form">
            <div style="font-weight: bold;">Нижче ви можете обрати дату, всі записи до якої
                буде видалено із БД після натиснення кнопки "Видалити дані".
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="cutoffDate">Оберіть дату: </label>
                <input type="date" class="form-control custom-width" id="cutoffDate" name="cutoffDate" required/>
            </div>
            <button type="button" class="btn btn-danger" th:onclick="submitDeleteAllBeforeDateSettingsForm()">Видалити
                дані
            </button>
        </form>
        <form id="delete-date-settings-form">
            <div style="font-weight: bold;">Нижче ви можете обрати дату за яку буде видалено усі данні після натиснення кнопки "Видалити дані".
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="delete-date">Оберіть дату: </label>
                <input type="date" class="form-control custom-width" id="delete-date" name="deleteDate" required/>
            </div>
            <button type="button" class="btn btn-danger" th:onclick="submitDeleteDateForm()">Видалити дані</button>
        </form>
        <form id="exportForm">
            <div style="font-weight: bold;">Нижче ви можете обрати діапазон дат та часу для експорту в Excel файл та звантажити його натиснувши
                кнопку "Експортувати".
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="exportStartDate">Дата початку:</label>
                <input type="date" class="form-control custom-width" id="exportStartDate" name="exportStartDate"
                       required>
            </div>

            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="exportEndDate">Дата завершення:</label>
                <input type="date" class="form-control custom-width" id="exportEndDate" name="exportEndDate" required>
            </div>

            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="exportStartTime" class="mr-2">Час початку:</label>
                <input type="time" class="form-control custom-width" id="exportStartTime" name="exportStartTime"
                       value="00:00" required/>
            </div>

            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="exportEndTime" class="mr-2">Час завершення:</label>
                <input type="time" class="form-control custom-width" id="exportEndTime" name="exportEndTime"
                       value="23:59" required/>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="export-seed-content" class="label">Колонка параметрів насіння
                    <select id="export-seed-content" class="select" name="seedRecordType">
                        <option value="seedProd">seedProd</option>
                        <option value="seedProdCurrent">seedProdCurrent</option>
                        <option value="seedChangeCounter">seedChangeCounter</option>
                        <option value="seedConstCounter">seedConstCounter</option>
                    </select>
                </label>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="export-hull-content" class="label">Колонка параметрів лушпиння
                    <select id="export-hull-content" class="select" name="hullRecordType">
                        <option value="hullProd">hullProd</option>
                        <option value="hullProdCurrent">hullProdCurrent</option>
                        <option value="hullChangeCounter">hullChangeCounter</option>
                        <option value="hullConstCounter">hullConstCounter</option>
                    </select>
                </label>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="export-meal-content" class="label">Колонка параметрів шроту
                    <select id="export-meal-content" class="select" name="mealRecordType">
                        <option value="mealProd">mealProd</option>
                        <option value="mealProdCurrent">mealProdCurrent</option>
                        <option value="mealChangeCounter">mealChangeCounter</option>
                        <option value="mealConstCounter">mealConstCounter</option>
                    </select>
                </label>
            </div>

            <div class="form-group" style="display: inline-block">
                <label for="export-oil-content" class="label">Колонка параметрів олії
                    <select id="export-oil-content" class="select" name="oilRecordType">
                        <option value="oilFT">oilFT</option>
                        <option value="oilCounter">oilCounter</option>
                    </select>
                </label>
            </div>

            <div class="form-group" style="display: inline-block; margin-right: 10px;">
                <label for="export-type">Оберіть формат:</label>
                <select id="export-type" name="exportType">
                    <option value="excel">Excel</option>
                    <option value="pdf">PDF</option>
                </select>
            </div>

            <button type="submit" class="btn btn-success" th:onclick="'submitExportForm(event)'">Експортувати</button>
        </form>

    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/toastr.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>
    $(document).ready(function () {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-center',
            showMethod: 'slideDown',
            timeOut: 4000
        };
    });

    document.addEventListener("DOMContentLoaded", function () {
        var selectors = document.querySelectorAll("select");

        selectors.forEach(function (selector) {
            selector.addEventListener("change", function () {
                var selectedValue = selector.value;
                var selectorId = selector.id;
                localStorage.setItem(selectorId, selectedValue);
            });

            // Set the selected value from localStorage
            var storedValue = localStorage.getItem(selector.id);
            if (storedValue) {
                selector.value = storedValue;
            }
        });
    });

    function navigate(direction) {
        var currentUrl = window.location.search;

        var urlSearchParams = new URLSearchParams(currentUrl);

        var startDate = urlSearchParams.get('startDate');
        var endDate = urlSearchParams.get('endDate');
        var startTime = urlSearchParams.get('startTime');
        var endTime = urlSearchParams.get('endTime');
        var currentPageNumber = parseInt(urlSearchParams.get('pageNumber'));

        var newPageNumber = currentPageNumber + direction;
        urlSearchParams.set('pageNumber', newPageNumber);
        var newUrl = '/api/v1/production_view?' + urlSearchParams.toString();

        window.location.href = newUrl;
    }

    $('#myTabs a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    function submitMaxRecordsAgeSettingsForm() {
        var form = document.getElementById('max-records-age-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/settings', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Налаштування збережено!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitDeleteAllBeforeDateSettingsForm() {
        var form = document.getElementById('delete-all-before-date-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/delete', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Операція завершена успішно!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitDeleteDateForm() {
        var form = document.getElementById('delete-date-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/delete_by_date', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Операція завершена успішно!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitExportForm(event) {
        event.preventDefault()
        var form = document.getElementById('exportForm');
        var formData = new FormData(form);

        var fileTypeSelector = document.getElementById('export-type');
        var fileType = fileTypeSelector.value;

        fetch('/api/v1/export', {
            method: 'POST',
            body: formData
        })
            .then(response => response.blob())
            .then(data => {
                var extension = getFileExtension(fileType);
                var filename = 'data.' + extension;
                var url = window.URL.createObjectURL(data);
                var a = document.createElement('a');
                a.href = url;
                a.download = filename;
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                toastr.success('Проведено експортування даних', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
                toastr.error('Помилка при експорті даних', 'Помилка');
            });
    }

    function getFileExtension(fileType) {
        switch (fileType) {
            case 'excel':
                return 'xlsx';
            case 'pdf':
                return 'pdf';
        }
    }
</script>
</body>
</html>
