<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UA">
<head>
    <meta charset="UTF-8">
    <title>Production statistics page</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/toastr.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        .header-container {
            background-image: url('/img/title_background.jpg');
            background-size: cover;
            padding: 20px;
        }

        .header-container label, h1 {
            color: #fff;
        }

        .custom-width {
            max-width: 170px; /* максимальна ширина для поля дати у вкладці налаштувань */
            width: 100%;
        }

        .custom-width2 {
            max-width: 75px; /* максимальна ширина для поля числа у вкладці налаштувань */
            width: 100%;
        }

        .tab-content {
            margin-top: 20px;
        }

        .nav-tabs {
            border-bottom: 0; /* Прибирає контур знизу контейнера вкладок */
        }

        .nav-tabs .nav-link {
            color: white; /* Колір тексту для неактивної вкладки */
            background-color: darkblue; /* Колір фону для неактивної вкладки */
        }

        .nav-tabs .nav-link.active {
            color: white !important; /* Колір тексту для активної вкладки */
            background-color: blue !important; /* Колір фону для активної вкладки */
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
            border-color: transparent; /* Колір контуру вкладок */
            border-width: 0; /* Ширина контуру вкладок (0 для вимкнення контуру) */
        }
    </style>
</head>
<body>

<div class="header-container">
    <h1>Основна статистика виробництва</h1>

    <ul class="nav nav-tabs" id="pageTabs">
        <li class="nav-item">
            <a class="nav-link active" id="data-tab" data-toggle="tab" href="#data">Дані</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings">Налаштування</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="data">
        <form class="form-inline" action="/api/v1/output/production_view" method="post"
              id="production_view_request">
            <div class="form-group mx-sm-3 mb-2">
                <label for="startDate" class="mr-2">Початок періоду:</label>
                <input type="date" class="form-control" id="startDate" name="startDate" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="endDate" class="mr-2">Кінець періоду:</label>
                <input type="date" class="form-control" id="endDate" name="endDate" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="startTime" class="mr-2">Час початку:</label>
                <input type="time" class="form-control" id="startTime" name="startTime" value="00:00" required/>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="endTime" class="mr-2">Час завершення:</label>
                <input type="time" class="form-control" id="endTime" name="endTime" value="23:59" required/>
            </div>

            <div class="btn-group mb-2 ml-auto" role="group" aria-label="Navigation buttons"
                 th:if="${dataPage != null and dataPage.totalPages > 1}">
                <button type="button" class="btn btn-primary" th:if="${dataPage.hasPrevious()}"
                        th:onclick="navigate(-1)">Назад
                </button>
                <button type="button" class="btn btn-primary" th:if="${dataPage.hasNext()}"
                        th:onclick="navigate(1)">Вперед
                </button>
            </div>

            <button type="submit" class="btn btn-success mb-2 ml-auto">Показати</button>

        </form>
        <div class="text-center" th:if="${dataPage != null and not dataPage.isEmpty}">
            <p>Показ інформації за: <span th:text="${dataPage.content[0].date}"></span></p>
        </div>

        <div>
            <table id="dataTable" class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Час</th>
                    <th>Насіння, т</th>
                    <th>Лушпиння, т</th>
                    <th>Шрот, т</th>
                    <th>Олія, т</th>
                </tr>
                </thead>

                <tr th:if="${dataPage == null or dataPage.isEmpty}">
                    <td colspan="5">Немає інформації за обраний період</td>
                </tr>

                <tbody th:if="${dataPage != null and not dataPage.isEmpty}">
                <tr th:each="data,row : ${dataPage.content}" th:class="${row.odd}? 'odd'">
                    <td th:text="${data.time}"></td>
                    <td th:text="${data.seeds}" class="number"></td>
                    <td th:text="${data.hulls}" class="number"></td>
                    <td th:text="${data.meals}" class="number"></td>
                    <td th:text="${data.oil}" class="number"></td>
                </tr>

                <tr>
                    <td><b>УСЬОГО:</b></td>
                    <td><b><span th:text="${#aggregates.sum(dataPage.content.![seeds])}" class="number"></span></b></td>
                    <td><b><span th:text="${#aggregates.sum(dataPage.content.![hulls])}" class="number"></span></b></td>
                    <td><b><span th:text="${#aggregates.sum(dataPage.content.![meals])}" class="number"></span></b></td>
                    <td><b><span th:text="${#aggregates.sum(dataPage.content.![oil])}" class="number"></span></b></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Вкладка с настройками -->
    <div class="tab-pane fade" id="settings">
        <form id="max-records-age-settings-form">
            <div>Нижче ви можете обрати максимальний діапазон
            збереження даних у БД. Від величини діапазону прямопропорційно залежатиме розмір БД, та її швидкодія.
            Для підтвердження натисніть кнопку "Застосувати". За замовчуванням сервер буде видаляти усі дані які старіші ніж рік від поточної дати.
            </div>
            <div class="form-group">
            <label for="records-age-type">Оберіть період:</label>
            <select id="records-age-type" name="records-age-type">
                <option value="days">Дні</option>
                <option value="months">Місяці</option>
                <option value="years">Роки</option>
            </select>
            <label for="records-age-value">Кількість:</label>
            <input type="number" class="form-control custom-width2" id="records-age-value" name="records-age-value" min="1" required>
            </div>
            <button type="button" class="btn btn-success" th:onclick="submitMaxRecordsAgeSettingsForm()">Застосувати</button>
        </form>
        <form id="delete-all-before-date-settings-form">
            <div>Нижче ви можете обрати дату, всі записи до якої
                буде видалено із БД після натиснення кнопки "Видалити дані".
            </div>
            <div class="form-group">
                <label for="cutoffDate">Оберіть дату: </label>
                <input type="date" class="form-control custom-width" id="cutoffDate" name="cutoffDate" required/>
            </div>
            <button type="button" class="btn btn-danger" th:onclick="submitDeleteAllBeforeDateSettingsForm()">Видалити дані</button>
        </form>
        <form id="delete-date-settings-form">
            <div>Нижче ви можете обрати дату за яку буде видалено усі данні після натиснення кнопки "Видалити дані".
            </div>
            <div class="form-group">
                <label for="delete-date">Оберіть дату: </label>
                <input type="date" class="form-control custom-width" id="delete-date" name="deleteDate" required/>
            </div>
            <button type="button" class="btn btn-danger" th:onclick="submitDeleteDateForm()">Видалити дані</button>
        </form>
        <form id="exportForm" action="/export" method="post">
            <div>Нижче ви можете обрати діапазон дат для експорту в Excel файл, вказавши до нього шлях та натиснувши кнопку "Експортувати".
            </div>
            <label for="startDate">Start Date:</label>
            <input type="date" id="exportStartDate" name="exportStartDate" required>

            <label for="endDate">End Date:</label>
            <input type="date" id="exportEndDate" name="exportEndDate" required>

            <label for="startTime" class="mr-2">Час початку:</label>
            <input type="time" class="form-control" id="exportStartTime" name="startTime" value="00:00" required/>

            <label for="endTime" class="mr-2">Час завершення:</label>
            <input type="time" class="form-control" id="exportEndTime" name="endTime" value="23:59" required/>

            <label for="directoryInput">Выберите директорию:</label>
            <input type="file" id="directoryInput" name="directoryPath" webkitdirectory directory accept="" multiple>
            <br>

            <label for="directoryPath">Зберегти сюди:</label>
            <input type="text" id="directoryPath" name="directoryPath" required readonly>
            <input type="button" value="Обрати директорію" th:onclick="selectDirectory()"><br>

            <button type="submit" th:onclick="submitExportForm()">Експортувати</button>
        </form>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            positionClass: 'toast-center',
            showMethod: 'slideDown',
            timeOut: 4000
        };
    });

    function navigate(direction) {
        var currentUrl = window.location.search;

        var urlSearchParams = new URLSearchParams(currentUrl);

        var startDate = urlSearchParams.get('startDate');
        var endDate = urlSearchParams.get('endDate');
        var startTime = urlSearchParams.get('startTime');
        var endTime = urlSearchParams.get('endTime');
        var currentPageNumber = parseInt(urlSearchParams.get('pageNumber'));

        var newPageNumber = currentPageNumber + direction;
        urlSearchParams.set('pageNumber', newPageNumber);
        var newUrl = '/api/v1/output/production_view?' + urlSearchParams.toString();

        window.location.href = newUrl;
    }

    $('#myTabs a').on('click', function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    function selectDirectory() {
        window.showDirectoryPicker().then(directory => {
            document.getElementById('directoryPath').value = directory.name;
        }).catch(error => {
            console.error('Помилка вибору директорії:', error);
        });
    }

    function submitMaxRecordsAgeSettingsForm() {
        var form = document.getElementById('max-records-age-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/settings', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Налаштування збережено!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitDeleteAllBeforeDateSettingsForm() {
        var form = document.getElementById('delete-all-before-date-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/delete', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Операція завершена успішно!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitDeleteDateForm() {
        var form = document.getElementById('delete-date-settings-form');
        var formData = new FormData(form);

        fetch('/api/v1/data/delete_by_date', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Операція завершена успішно!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function submitExportForm() {
        var form = document.getElementById('exportForm');
        var formData = new FormData(form);

        fetch('/api/v1/data/export', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                toastr.success('Операція завершена успішно!', 'Успіх');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>
